<%= form_with model: @track do |form| %>

    <div class="field">
    <%= form.label :url %>
    <%= form.url_field :url %>
    </div>

    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div class="field">
    <%= form.label :credits %>
    <%= form.text_field :credits %>
    </div>


    <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
    </div>



    <div class="actions">
    <%= form.submit %>
    </div>
    <% end %>
