%h1.display-4=@track.name
%p.lead
  %strong URL:
  = @track.url
%p.lead
  %strong Credits:
  = @track.credits
%p.lead
  %strong Available:
  = @track.available


= link_to 'Edit', edit_track_path(@track), {class: 'btn btn-outline-primary'}

= link_to 'Back', tracks_path, {class: 'btn btn-outline-success'}