
%h1.display-4
  = @artist.name
%p
  %strong Permalink:
  = @artist.permalink
%p
  %strong Formed at:
  = @artist.formed_at
%p
  %strong Verified:
  = @artist.verified
%p
  %strong Verified at:
  = @artist.verified_at

-if @artist.avatar.attached?
  %p
    %strong Avatar:
    = image_tag @artist.avatar, width: "200px"

-if @artist.cover_photo.attached?
  %p
    %strong Cover photo:
    = image_tag @artist.cover_photo, width: '200px'
= link_to 'Edit', edit_artist_path(@artist), {class: 'btn btn-outline-primary'}
= link_to 'Back', artists_path, {class: 'btn btn-outline-success'}