%h1 Music-App
%p This is the albums page

%a(href="https://www.google.com/")
    google

%table
    %thead
    %tr
        %th Name
        %th Released
        %th Released at
        %th Cover Art
        %th Length
        %th Kind
    %tbody
    - @albums.each do |album|
        %tr
        %td= album.name
        %td= album.released
        %td= album.released_at
        %td= album.length
        %td= album.kind

        -if album.cover_art.attached?
            %td= image_tag album.cover_art, width: '50px'

        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }


= link_to new_album_path do
    New album