%h1 Album List

%table{ class: 'table table-striped table-bordered tabl-dark'}
    %thead
    %tr
        %th{class: 'text-center'}Name
        %th{class: 'text-center'} Released
        %th{class: 'text-center'} Released at
        %th{class: 'text-center'} Cover Art
        %th{class: 'text-center'} Length (Number of Songs)
        %th{class: 'text-center'} Kind
        %th{:colspan => 5, :class => 'text-center'} Action
    %tbody
    - @albums.each do |album|
        %tr
        %td{class: 'text-center'}= album.name
        %td{class: 'text-center'}= album.released
        %td{class: 'text-center'}= album.released_at
        -if album.cover_art.attached?
            %td{class: 'text-center'}= image_tag album.cover_art, width: '50px'

        %td{class: 'text-center'}= album.length.to_int
        %td= album.kind


        %td{class: 'text-center'}= link_to 'Show', album |
        %td{class: 'text-center'}= link_to 'Edit', edit_album_path(album)
        %td{class: 'text-center'}= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }


= link_to new_album_path do
    New album