%div{class: "jumbotron"}
  %h1.display-4= @album.name  
  %p.lead
    %strong Released:
    = @album.released
  %p.lead
    %strong Released at:
    = @album.released_at
  %p.lead
    %strong Length (Number of Songs):
    = @album.length.to_int
  %p.lead
    %strong Kind:
    = @album.kind

  -if @album.cover_art.attached?
    %p.lead
      %strong Cover Art:
      = image_tag @album.cover_art, width: "200px"
  %hr.my-4/
  = link_to 'Edit', edit_album_path(@album), {class: 'btn btn-outline-primary'}
  = link_to 'Back', albums_path, {class: 'btn btn-outline-success'}