
%p
  %strong Name:
  = @album.name
%p
  %strong Released:
  = @album.released
%p
  %strong Released at:
  = @album.released_at
%p
  %strong Length:
  = @album.length
%p
  %strong Kind:
  = @album.kind

-if @album.cover_art.attached?
  %p
    %strong Cover Art:
    = image_tag @album.cover_art, width: "200px"

= link_to 'Edit', edit_album_path(@album)
|
= link_to 'Back', albums_path